<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> COVID19 Registrierung </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background: none transparent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COVID19 Registrierung</ion-title>
    </ion-toolbar>
  </ion-header>

  {{scanned}}

  <div id="container" *ngIf="scanned">
    <strong>Möchtest du dich in die COVID19 Liste eintragen?</strong>
    <p>
      Die von dir eingetragene E-Mail Adresse wird mit Datum und Uhrzeit dem
      Betreiber zugestellt. Dies als
    </p>
    <ion-input placeholder="E-Mail Adresse"></ion-input>
    <ion-input placeholder="Telefon"></ion-input>
    <p>Daten lokal speichern für nächstes Mal?</p>
    <ion-checkbox></ion-checkbox>

    <ion-button expand="full" (click)="register()">Eintragen</ion-button>
  </div>
</ion-content>
