<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> COVID19 Registrierung </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" *ngIf="scanned" [fullscreen]="true">
  <div id="container">
    <ion-item>
      <p>
        Die von dir eingetragenen Daten werden mittels E-Mail direkt an den
        Betreiber weitergeleitet. Wir speichern keinerlei Daten auf unseren
        Servern und der Betreiber ist verantwortlich, die Daten wie vom
        Gesetzgeber verlangt nach 14 Tagen wieder zu löschen.
      </p>
    </ion-item>
    <ion-item
      ><ion-input placeholder="Vorname" [(ngModel)]="firstName"></ion-input
    ></ion-item>
    <ion-item
      ><ion-input placeholder="Nachname" [(ngModel)]="name"></ion-input
    ></ion-item>
    <ion-item
      ><ion-input placeholder="Wohnort" [(ngModel)]="location"></ion-input
    ></ion-item>
    <ion-item
      ><ion-input placeholder="Telefonnummer" [(ngModel)]="tel"></ion-input
    ></ion-item>
    <ion-item
      ><ion-input
        placeholder="Tisch"
        [disabled]="data?.table"
        [(ngModel)]="table"
      ></ion-input
    ></ion-item>
    <ion-item>
      <ion-label>Daten lokal speichern?</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-button
      expand="full"
      [disabled]="!firstName || !name || !location || !tel || !table"
      (click)="register()"
      >Registrieren</ion-button
    >
  </div>
</ion-content>
